<!DOCTYPE html>
<html>
<head>
<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApNXTf01V3vzNMtRNGYBCxEXEaxAv8fBM">
	
</script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
<link rel='stylesheet' href='/stylesheets/custom.css' />
</head>
<body>
	<div class="row shadow">
		<div class="col-md-4" style="padding-left: 60px;">
			<h3>

				&nbsp; <font color="#157DEC" size="4">Workforce Management
					System</font>
			</h3>
		</div>

		<div class="col-md-1" style="margin-top: 20px; margin-bottom: 20px;">
			<input type="button" class="btn btn-default" name="firstname"
				value="Clients" />
		</div>
		<div class="col-md-1" style="margin-top: 20px; margin-bottom: 20px;">
			<input type="button" class="btn btn-default" name="firstname"
				value="Guards" />
		</div>

		<div class="col-md-1" style="margin-top: 20px; margin-bottom: 20px;">
			<input type="button" class="btn btn-default" name="firstname"
				value="Reports" />
		</div>

		<div class="col-md-1" style="margin-top: 20px; margin-bottom: 20px;">
			<input type="button" class="btn btn-default" name="firstname"
				value="Alerts" />
		</div>

		<div class="col-md-2" style="margin-top: 20px; margin-bottom: 20px;">
			<label name="firstname">Welcome, Admin</label>
		</div>
	</div>

	<div class="row" style="height: 100%">
		<div class="col-md-6  shadow"
			style="margin: 20px;height: 100%;">
			<div class="row">
				<div class="col-md-12 shadow">
					<h4>Clients</h4>
				</div>
				<div class="col-md-12" style="cursor: pointer;">
					<h4><small>IBM</small></h4>
				</div>
				<div class="col-md-12" style="cursor: pointer;">
					<h4><small>Transient Technologies</small></h4>
				</div>
				<div class="col-md-12" style="cursor: pointer;">
					<h4><small>Doctile Services</small></h4>
				</div>
				<div class="col-md-12" style="cursor: pointer;">
					<h4><small>Avalon The Alameda</small></h4>
				</div>
				<div class="col-md-12" style="cursor: pointer;">
					<h4><small>Colonade</small></h4>
				</div>
				<div class="col-md-12" style="cursor: pointer;">
					<h4><small>Colonade</small></h4>
				</div>
				<div class="col-md-12" style="cursor: pointer;">
					<h4><small>Colonade</small></h4>
				</div>
				<div class="col-md-12" style="cursor: pointer;">
					<h4><small>Colonade</small></h4>
				</div>
				<div class="col-md-12" style="cursor: pointer;">
					<h4><small>Colonade</small></h4>
				</div>
				<div class="col-md-12" style="cursor: pointer;">
					<h4><small>Colonade</small></h4>
				</div>
				<div class="col-md-12" style="cursor: pointer;">
					<h4><small>Colonade</small></h4>
				</div>
				<div class="col-md-12" style="cursor: pointer;">
					<h4><small>Colonade</small></h4>
				</div>
				<div class="col-md-12" style="cursor: pointer;">
					<h4><small>Colonade</small></h4>
				</div>
				<div class="col-md-12" style="cursor: pointer;">
					<h4><small>Colonade</small></h4>
				</div>
				
			</div>
			

		</div>
		<div class="col-md-4 shadow"
			style="margin: 20px;height: 100%;">
			<div class="row">
				<div class="col-md-12 shadow">
					<h4>Alerts</h4>
				</div>
				<div class="col-md-12" style="cursor: pointer;">
					<h4><small>Attempt of Robbery</small></h4>
				</div>
				<div class="col-md-12" style="cursor: pointer;">
					<h4><small>Suspiscious Activity arouond the checkpoint</small></h4>
				</div>
				<div class="col-md-12" style="cursor: pointer;">
					<h4><small>Unkown Intruder entering building</small></h4>
				</div>
				<div class="col-md-12" style="cursor: pointer;">
					<h4><small></small></h4>
				</div>
				<div class="col-md-12" style="cursor: pointer;">
					<h4><small></small></h4>
				</div>
				
			</div>
		</div>

	</div>
</body>
</html>