<!DOCTYPE html>
<html>
<head>
<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApNXTf01V3vzNMtRNGYBCxEXEaxAv8fBM">
</script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
<link rel='stylesheet' href='/stylesheets/custom.css' />
<script type="text/javascript">
var marker;
var infowindow;
function handleNoGeolocation(errorFlag, firstlat, firstlng) {
	if (errorFlag) {
		var content = 'Error: The Geolocation service failed.';
	} else {
		var content = 'Error: Your browser doesn\'t support geolocation.';
	}

	var options = {
		map : map,
		position : new google.maps.LatLng(firstlat, firstlng),
		content : content
	};

	var infowindow = new google.maps.InfoWindow(options);
	map.setCenter(options.position);
}

function initialize(firstlat, firstlng) {
	var mapOptions = {
		zoom : 18
	};

	var map = new google.maps.Map(document.getElementById('map-canvas'),
			mapOptions);

	// Try HTML5 geolocation
	if (navigator.geolocation) {
		navigator.geolocation.getCurrentPosition(function(position) {
			var pos = new google.maps.LatLng(firstlat, firstlng);

			marker = new google.maps.Marker({
				map : map,
				position : pos,

			});

			marker.set('labelContent', 'sdda');

			infowindow = new google.maps.InfoWindow();

			codeLatLng(position.coords.latitude, position.coords.longitude,
					map, marker);

			google.maps.event.addListener(marker, 'click', function() {
				infowindow.open(map, marker);
			});

			map.setCenter(pos);
		}, function() {
			handleNoGeolocation(true, firstlat, firstlng);
		});
	} else {
		// Browser doesn't support Geolocation
		handleNoGeolocation(false, firstlat, firstlng);
	}

	google.maps.event.addListener(map, 'click',
			function(event) {
				console.log(event.latLng.lat() + " " + event.latLng.lng());
				if (marker) {
					marker.setPosition(event.latLng);
					codeLatLng(event.latLng.lat(), event.latLng.lng(), map,
							marker);

				} else {
					marker = new google.maps.Marker({
						position : location,
						map : map
					});
				}

			});
}

function setContent(marker) {

}

function codeLatLng(lat, lng, map, marker) {

	var latlng = new google.maps.LatLng(lat, lng);

	var geocoder = new google.maps.Geocoder();
	geocoder.geocode({
		'latLng' : latlng
	}, function(results, status) {

		if (status == google.maps.GeocoderStatus.OK) {

			
				infowindow.setContent("Guard Location");
				infowindow.open(map, marker);
			

		} else {
			alert('Geocoder failed due to: ' + status);
		}
	});
}
</script>
</head>
<body onload="initialize(<%= latitude %>,<%= longitude %>)">
	<div class="row shadow">
		<div class="col-md-6">
			<div class="row"
				style="width: 400px; margin: 15px auto; margin-top: 30px;">

				<div id="map-canvas" class="col-md-12"
					style="height: 400px; box-shadow: 1px 0px 5px 3px rgba(0, 0, 0, 0.15); padding: 10px;"></div>

				<input type="hidden" name="latitude" id="latitude" /> <input
					type="hidden" name="longitude" id="longitude" />
			</div>
		</div>
	</div>
</body>
</html>
